:coffee
  add_twit = (followup_id=null) ->
    note_text = window.prompt('New Local Twit Text')
    if note_text
      $.ajax
        url: 'stocktwits/add_twit',
        method: 'post',
        context: document.body,
        data:
          followup_id: followup_id,
          message: note_text,

  $(document).on("click", 'button#add-twit-button', () ->
    add_twit()
  )

  $(document).on("click", 'img.icon-followup', () ->
    add_twit($(this).parent().attr('data-twit-id')))
