-# Decided not to use this route in favor of a simple javascript prompt box
-#
-#.modal-dialog{ role: "document" }
-#  .modal.fade{ tabindex: "-1", role: "dialog", "aria-labelledby": "myModalLabel", id: "modalNote" }
-#    .modal-content
-#      .modal-header
-#        %button.close{ type: "button", "data-dismiss": "modal", "aria-label": "Close" }
-#          %span{ "aria-hidden": "true" }
-#            &times;
-#        -#%h4{ class: "modal-title" }
-#        -#  Edit Comment
-#      .modal-body
-#        Greetings lorem ipsum
-#      .modal-footer
-#        %button{ type: "button", class:"btn btn-default", "data-dismiss":"modal"} Close
-#        %button{ type: "button", class: "btn btn-primary"}Save changes