:javascript
  $(document).on("click", '#screens-one-toggle', function(event) {
    event.preventDefault();
    $('#screens-dropdown-button').text('1 Screen');
  })

  $(document).on("click", '#screens-two-toggle', function(event) {
    event.preventDefault();
    $('#screens-dropdown-button').text('2 Screens');
  })