%tr{ id: twit.id }
  %td.stocktwit-message
    .stocktwit-message-timestamp
      ="#{twit.stocktwit_time}"
    .stocktwit-message-text
      =format_stocktwits_message(twit.message)
  %td.stocktwit-thumb
    =link_to(image_tag(twit.image_thumb_url), twit.image_original_url, target: "_blank")