.col-md-9
  %h1
    StockTwits Archive
    =link_to(image_tag(asset_path('icon-cloud-download.png')), stocktwits_refresh_path)
  #stocktwits-watch-indicator{ "data-symbol"=>"" }
    =link_to(image_tag(asset_path('icon-star-sm-yellow.png'), class: 'stocktwits-watch-indicator', style: "display: none;"), "#", id: 'toggle-watching')
  #stocktwits-filter-indicator{ "data-symbol"=>"" }
    &nbsp;

  #stocktwits-content
    %table.stocktwits
      -@twits.each do |twit|
        =render "twit", twit: twit


  .last-twit-placeholder
    =image_tag(asset_path("loading.gif"))


.col-md-3.stocktwits-ticker-navigation
  = render partial: 'ticker_navigation'

=render "load_twits_script"