.col-md-9
  %h1 StockTwits Archive
  #stocktwits-filter-indicator{ "data-symbol"=>"" }
    &nbsp;
  #stocktwits-watch-indicator{ "data-symbol"=>"" }
    =link_to "Watch", "#", id: 'toggle-watching'
  #stocktwits-refresh-button
    =link_to "Refresh", stocktwits_refresh_path

  #stocktwits-content
    %table.stocktwits
      -@twits.each do |twit|
        =render "twit", twit: twit


  .last-twit-placeholder
    =image_tag(asset_path("loading.gif"))


.col-md-3.stocktwits-ticker-navigation
  = render partial: 'ticker_navigation'

=render "load_twits_script"