body.stocktwits {
  background-color: #FFFFFF;
  color: #000000;
}

.stocktwits-ticker-navigation {
  background-color: #ddcd5e;
}

table.stocktwits {
  width: 739px;
}

td.stocktwit-message {
  padding: 5px 0px;
  border-bottom: 1px solid #CCCCCC;
}

.stocktwit-message-timestamp {
  color: #999999;
  font-size: 9pt;
  padding-bottom: 4px;
}

td.stocktwit-thumb {
  width: 175px;
  padding: 5px 0px;
  border-bottom: 1px solid #CCCCCC;
}

.last-twit-placeholder{
  text-align:center;
  display:none;
}

.stocktwits-ticker-nav-filter, .stocktwits-ticker-nav-list {
  font-size: 9pt;
  font-color: black;
}

.stocktwits-ticker-nav-list#symbol, .stocktwits-ticker-nav-list#count {
  display: none;
}

.stocktwits-ticker-nav-link {
  margin: 2px;
}


#stocktwits-filter-indicator {
  display: inline;
  font-size: 16pt;
  font-weight: bold;
  color: #2E2F30;
}

#stocktwits-watch-indicator {
  display: inline;
  width: 200px;
  font-size: 16pt;
  color: #2E2F30;
  img {
    width: 25px;
    height: 25px;
  }
}

#header {
  height: 75px;
  #title {
    float: left;
  }
  #user-dropdown {
    display: none;
    padding-top: 25px;
    float: right;
    width: 200px;
  }
}
