%h1 Active Stocks Report

-if @report.count > 0
  %div Last Updated: #{@report.count > 0 ? @report.first[:snapshot_time] : ''}
  %div Items: #{@report.count}

.report_date_form
  =report_date_form :active_stocks

%h2 Gainers

=render partial: "report_table", locals: { report: @report_up, report_name: "active_stocks_up", fields: @fields }

%h2 Losers

=render partial: "report_table", locals: { report: @report_down, report_name: "active_stocks_down", fields: @fields }
