%h1= @report[:title]

-if flash[:notice]
  .alert.alert-info.alert-dismissible.fixed-alert
    =flash[:notice]

-if @report.count > 0
  %div Last Updated: #{@report[:last_updated]}
  %div Items: #{@report[:item_count]}

.row{ style: "padding-left: 10px;" }
  .col-md-3
    .report_date_form
      =report_date_form(@report[:route], @report_date)
  .col-md-2
    =render partial: 'report_reviewed', locals: { report_reviewed_date: @report[:reviewed_date], report_type: @report[:route], report_date: @report_date }

-@report[:sections].each do |section|
  -if section[:title].present?
    %h2= section[:title]
  =render partial: 'report_table', locals: { report: section[:line_items], fields: @fields}
