%h1 52 Week High List

-if @report.count > 0
  %div Last Updated: #{@report.first['quote_time']}
  %div Items: #{@report.count}

.report_date_form
  =report_date_form :week52_highs

=render partial: "report_table", locals: { report: @report, report_name: 'week_52_highs', fields: @fields }
